/*******************************************************************************
 * HEADER
 *******************************************************************************/
/* line 4, ../scss/_header.scss */
#header {
  height: 70px;
  margin-bottom: 0px;
}
/* line 5, ../scss/_header.scss */
#header .inner {
  background-color: #212121;
  background-image: url("../images/header-bg.png");
  background-position: left top;
  background-repeat: repeat-x;
  border-radius: 0px;
  box-shadow: none;
  height: 70px;
}
/* line 6, ../scss/_header.scss */
#header .inner .container {
  margin: 0px auto;
  position: relative;
  width: 940px;
}
/* line 7, ../scss/_header.scss */
#header .inner .container .brand {
  background-image: url("../images/logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 43px;
  margin: 18px 0px 0px 0px;
  padding: 0px;
  text-indent: -9999px;
  width: 150px;
}
/* line 8, ../scss/_header.scss */
#header .inner .container .nav {
  margin-right: 0px;
  margin-top: 32px;
}
/* line 10, ../scss/_header.scss */
#header .inner .container .nav li a {
  color: #a1a1a1;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
  text-shadow: none;
}
/* line 12, ../scss/_header.scss */
#header .inner .container .nav li a:hover {
  color: white;
}
/* line 16, ../scss/_header.scss */
#header .inner .container .nav li.dropdown.open > a {
  background-color: #616161;
  border-radius: 3px 3px 0px 0px;
  color: white;
}
/* line 18, ../scss/_header.scss */
#header .inner .container .nav li.dropdown .divider {
  background-color: transparent;
  background-image: url("../images/divider.png");
  background-position: left center;
  background-repeat: repeat-x;
  border: 0px;
  margin: 6px 0px;
}
/* line 19, ../scss/_header.scss */
#header .inner .container .nav li.dropdown .dropdown-menu {
  background-color: #616161;
  border: 0px;
  border-radius: 3px 0px 3px 3px;
  box-shadow: none;
  margin-top: 0px;
  min-width: 110%;
}
/* line 20, ../scss/_header.scss */
#header .inner .container .nav li.dropdown .dropdown-menu li {
  text-align: right;
}
/* line 21, ../scss/_header.scss */
#header .inner .container .nav li.dropdown .dropdown-menu li a {
  color: #e9e9e9;
  font-weight: normal;
  text-decoration: none;
}
/* line 22, ../scss/_header.scss */
#header .inner .container .nav li.dropdown .dropdown-menu li a:hover {
  background-color: transparent;
  color: white;
}
/* line 26, ../scss/_header.scss */
#header .inner .container .nav li.dropdown .dropdown-menu:before, #header .inner .container .nav li.dropdown .dropdown-menu:after {
  border: 0px;
}
/* line 30, ../scss/_header.scss */
#header .inner .container .nav.static-pages {
  left: auto;
  margin: 0px;
  position: absolute;
  right: 0px;
  top: 18px;
}
/* line 31, ../scss/_header.scss */
#header .inner .container .nav.static-pages a {
  font-size: 11px;
  line-height: 1;
  padding: 0px 10px;
}

/* line 38, ../scss/_header.scss */
#breadcrumb {
  background-color: #e9e9e9;
  background-image: -moz-linear-gradient(#e9e9e9, #f0f0f0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9e9e9), to(#f0f0f0));
  background-image: -webkit-linear-gradient(#e9e9e9, #f0f0f0);
  background-image: -o-linear-gradient(#e9e9e9, #f0f0f0);
  border-radius: 0px;
  border-bottom: 1px solid #d0d0d0;
  font-size: 11px;
  line-height: 1;
}
/* line 39, ../scss/_header.scss */
#breadcrumb .breadcrumb {
  background-color: transparent;
  background-image: none;
  border: 0px;
  box-shadow: none;
  margin: 0px;
  padding: 4px 14px 4px 0px;
}
/* line 40, ../scss/_header.scss */
#breadcrumb .breadcrumb li {
  text-shadow: none;
}
/* line 41, ../scss/_header.scss */
#breadcrumb .breadcrumb li a {
  color: #313131;
  text-decoration: none;
  text-shadow: none;
}

/* line 46, ../scss/_header.scss */
.page-header {
  background-image: url("../images/page-header-border.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  border-bottom: 0px;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}
/* line 47, ../scss/_header.scss */
.page-header .inner {
  background-image: url("../images/page-header-decoration.png");
  background-position: 95% 14px;
  background-repeat: no-repeat;
  padding: 21px 0px;
}
/* line 48, ../scss/_header.scss */
.page-header .inner h1 {
  color: #293e7b;
  font-size: 18px;
  font-weight: bold;
}

/*******************************************************************************
 * CAMPAIGNS MONTH
 *******************************************************************************/
/* line 4, ../scss/_campaigns-month.scss */
#campaigns-month {
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
}
/* line 6, ../scss/_campaigns-month.scss */
#campaigns-month .panel h2 {
  color: #616161;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  margin-left: -40px;
  position: absolute;
  left: 50%;
  text-shadow: 1px 1px white;
  top: 8px;
}
/* line 7, ../scss/_campaigns-month.scss */
#campaigns-month .panel .btn {
  position: relative;
  z-index: 1;
}
/* line 8, ../scss/_campaigns-month.scss */
#campaigns-month .panel .btn.prev {
  border-radius: 3px 0px 0px 3px !important;
  font-size: 0px;
  line-height: 1;
}
/* line 9, ../scss/_campaigns-month.scss */
#campaigns-month .panel .btn.prev i {
  background-image: url("../images/caret-left-gray.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 17px;
  width: 7px;
}
/* line 10, ../scss/_campaigns-month.scss */
#campaigns-month .panel .btn.prev:hover {
  background-image: url("../images/btn-purple-bg.png");
  border-color: #6a307a;
  z-index: 100;
}
/* line 11, ../scss/_campaigns-month.scss */
#campaigns-month .panel .btn.prev:hover i {
  background-image: url("../images/caret-left-white.png");
}
/* line 14, ../scss/_campaigns-month.scss */
#campaigns-month .panel .btn.next {
  border-radius: 0px 3px 3px 0px !important;
  font-size: 0px;
  line-height: 1;
  margin-left: -4px;
}
/* line 15, ../scss/_campaigns-month.scss */
#campaigns-month .panel .btn.next i {
  background-image: url("../images/caret-right-gray.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 17px;
  width: 7px;
}
/* line 16, ../scss/_campaigns-month.scss */
#campaigns-month .panel .btn.next:hover {
  background-image: url("../images/btn-purple-bg.png");
  border-color: #6a307a;
  z-index: 100;
}
/* line 17, ../scss/_campaigns-month.scss */
#campaigns-month .panel .btn.next:hover i {
  background-image: url("../images/caret-right-white.png");
}
/* line 21, ../scss/_campaigns-month.scss */
#campaigns-month .panel .btn.today:hover {
  background-image: url("../images/btn-purple-bg.png");
  border-color: #6a307a;
  color: white;
}
/* line 27, ../scss/_campaigns-month.scss */
#campaigns-month .header {
  background-color: #e2e2e2;
  background-image: -moz-linear-gradient(#e2e2e2, #d5d5d5);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e2e2e2), to(#d5d5d5));
  background-image: -webkit-linear-gradient(#e2e2e2, #d5d5d5);
  background-image: -o-linear-gradient(#e2e2e2, #d5d5d5);
  border-bottom: 1px solid #a1a1a1;
  border-radius: 3px 3px 0px 0px;
}
/* line 28, ../scss/_campaigns-month.scss */
#campaigns-month .header .inner {
  border-top: 1px solid white;
  border-radius: 3px 3px 0px 0px;
  padding: 12px;
  position: relative;
}
/* line 30, ../scss/_campaigns-month.scss */
#campaigns-month .footer {
  background-color: #e2e2e2;
  background-image: -moz-linear-gradient(#e2e2e2, #d5d5d5);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e2e2e2), to(#d5d5d5));
  background-image: -webkit-linear-gradient(#e2e2e2, #d5d5d5);
  background-image: -o-linear-gradient(#e2e2e2, #d5d5d5);
  position: relative;
}
/* line 31, ../scss/_campaigns-month.scss */
#campaigns-month .footer .inner {
  border-top: 1px solid white;
  border-radius: 0px;
  padding: 12px;
  position: relative;
}
/* line 33, ../scss/_campaigns-month.scss */
#campaigns-month table {
  table-layout: fixed;
  width: 100%;
}
/* line 35, ../scss/_campaigns-month.scss */
#campaigns-month table thead th {
  background-image: url("../images/table-border-white.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-color: #e9e9e9;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #f0f0f0;
  color: #616161;
  font-size: 14px;
  font-weight: normal;
  padding: 9px 11px;
  text-shadow: 1px 1px white;
  white-space: nowrap;
}
/* line 36, ../scss/_campaigns-month.scss */
#campaigns-month table thead th:first-child {
  border-left: 0px;
}
/* line 37, ../scss/_campaigns-month.scss */
#campaigns-month table thead th:last-child {
  border-right: 0px;
}
/* line 42, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td {
  border: 1px solid #e9e9e9;
  margin: 0px;
  padding: 0px;
  width: 134px;
}
/* line 43, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner {
  background-image: url("../images/campaigns-month-td-bg.png");
  background-position: left top;
  background-repeat: no-repeat;
  border-left: 1px solid white;
  border-top: 1px solid white;
  height: 131px;
  position: relative;
  z-index: 1;
}
/* line 44, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .day {
  bottom: 7px;
  color: #a1a1a1;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  right: 9px;
  text-shadow: 0px 1px white;
}
/* line 45, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .create-campaign {
  display: none;
  margin: 0px 3px;
  z-index: 101;
}
/* line 46, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .create-campaign .btn {
  display: block;
  margin: 0px;
  text-align: left;
  float: none;
}
/* line 47, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .create-campaign .btn .caret {
  float: right;
}
/* line 50, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .calendar-day-campaign-list {
  margin: 0px;
  padding: 3px 3px 0px 3px;
  position: relative;
  z-index: 100;
}
/* line 51, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .calendar-day-campaign-list li {
  background-color: white;
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  color: #313131;
  font-size: 11px;
  line-height: 1;
  margin-bottom: 3px;
  padding: 5px 6px;
}
/* line 52, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .calendar-day-campaign-list li .title {
  background-image: url("../images/icons/mail-purple.png");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 19px;
}
/* line 53, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .calendar-day-campaign-list li .title a {
  color: #313131;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
}
/* line 55, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .calendar-day-campaign-list li .time {
  background-image: url("../images/icons/time-purple.png");
  background-position: left center;
  background-repeat: no-repeat;
  font-weight: normal;
  line-height: 14px;
  padding-left: 19px;
  text-shadow: none;
}
/* line 57, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .calendar-day-campaign-list li.campaign-innactive {
  background-color: #e9e9e9;
  color: #616161;
}
/* line 58, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .calendar-day-campaign-list li.campaign-innactive a {
  color: #616161;
}
/* line 59, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .calendar-day-campaign-list li.campaign-innactive .title {
  background-image: url("../images/icons/mail-gray.png");
}
/* line 60, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .calendar-day-campaign-list li.campaign-innactive .time {
  background-image: url("../images/icons/time-gray.png");
}
/* line 62, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td .inner .calendar-day-campaign-list li:nth-child(2) ~ li {
  display: none;
}
/* line 68, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td.calendar-today .inner {
  background-image: url("../images/campaigns-month-td-active.png");
  background-position: 0px -1px;
  outline: 1px solid #6a307a;
  border: 0px;
  height: 132px;
  vertical-align: top;
}
/* line 69, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td.calendar-today .inner .day {
  color: #6a307a;
}
/* line 73, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td.calendar-outofrange .inner {
  background-color: white;
  background-image: none;
  border: 0px;
  height: 132px;
}
/* line 75, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td.calendar-outofrange .inner .day {
  color: #e9e9e9;
}
/* line 76, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td.calendar-outofrange .inner .create-campaign {
  display: none !important;
}
/* line 79, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td:first-child {
  border-left: 0px;
}
/* line 80, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td:last-child {
  border-right: 0px;
}
/* line 82, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td:hover:not(.calendar-today):not(.calendar-outofrange) .inner {
  background-color: #e2e2e2;
  background-image: none;
  border-left: 1px solid transparent;
  height: auto;
  margin-top: -66px;
  min-height: 126px;
  outline: 1px solid #616161;
  padding-bottom: 5px;
  position: absolute;
  width: 132px;
  z-index: 2;
}
/* line 84, ../scss/_campaigns-month.scss */
#campaigns-month table tbody tr td:hover:not(.calendar-today):not(.calendar-outofrange) .inner .calendar-day-campaign-list li {
  display: block;
}

/*******************************************************************************
 * FOOTER
 *******************************************************************************/
/* line 5, ../scss/_footer.scss */
#footer #footer-inner {
  background-image: url("../images/page-header-border.png");
  background-position: left top;
  background-repeat: repeat-x;
  color: #a1a1a1;
  margin-top: 50px;
  padding-top: 21px;
  padding-bottom: 10px;
}
/* line 6, ../scss/_footer.scss */
#footer #footer-inner a {
  color: #a1a1a1;
  text-decoration: none;
}
/* line 8, ../scss/_footer.scss */
#footer #footer-inner .nav li {
  display: inline-block;
  margin-left: 20px;
}
/* line 9, ../scss/_footer.scss */
#footer #footer-inner .nav li a {
  color: #a1a1a1;
  text-decoration: none;
}
/* line 10, ../scss/_footer.scss */
#footer #footer-inner .nav li a:hover {
  background-color: transparent;
}

/*******************************************************************************
 * BASICS
 *******************************************************************************/
/* line 14, ../scss/marketing.scss */
html {
  background-color: white;
  height: 100%;
  margin: 0px;
  min-height: 100%;
  padding: 0px;
}

/* line 15, ../scss/marketing.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  background-image: url("../images/bg.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  color: #313131;
  display: table;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  height: 100%;
  line-height: 16px;
  margin: 0px;
  min-height: 100%;
  min-width: 960px;
  padding: 0px;
  width: 100%;
}

/* line 16, ../scss/marketing.scss */
a {
  color: #6a307a;
  text-decoration: underline;
}
/* line 17, ../scss/marketing.scss */
a:hover {
  color: #6a307a;
  text-decoration: none;
}

/* line 20, ../scss/marketing.scss */
#wrap {
  display: table-row;
  height: 100%;
}

/* line 21, ../scss/marketing.scss */
#footer {
  display: table-row;
  height: 1px;
  width: 100%;
}

/* line 22, ../scss/marketing.scss */
.well {
  background-color: #f0f0f0;
  box-shadow: none;
  border-radius: 3px;
}

/*******************************************************************************
 * FORM
 *******************************************************************************/
/* line 28, ../scss/marketing.scss */
form label {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 29, ../scss/marketing.scss */
form input[type=email], form input[type=password], form input[type=text] {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px inset;
  border-color: #a1a1a1;
  border-radius: 3px;
  color: #313131;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  padding: 5px;
}
/* line 30, ../scss/marketing.scss */
form input[type=email]:focus, form input[type=password]:focus, form input[type=text]:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px inset;
  border: 1px solid #a1a1a1;
  outline: 0px;
}
/* line 32, ../scss/marketing.scss */
form input[type=submit] {
  cursor: pointer;
}

/*******************************************************************************
 * BUTTON
 *******************************************************************************/
/* line 38, ../scss/marketing.scss */
.btn {
  background-color: transparent;
  /*background-image: url("../images/btn-bg.png");*/
  background-position: left center;
  background-repeat: no-repeat;
  border: 1px solid #a1a1a1;
  border-radius: 3px !important;
  box-shadow: none;
  color: #313131;
  font-size: 12px;
  font-weight: bold;
  line-height: 17px;
  text-decoration: none;
  text-shadow: none;
}
.btn.btn-danger {
    color: #ffffff;
}
/* line 39, ../scss/marketing.scss */
.btn i {
  display: inline-block;
  padding-right: 8px;
  vertical-align: middle;
}
/* line 40, ../scss/marketing.scss */
.btn i.create {
  background-image: url("../images/icons/create.png");
  background-position: left top;
  background-repeat: no-repeat;
  height: 15px;
  width: 14px;
}
/* line 42, ../scss/marketing.scss */
.btn .caret {
  background-color: transparent;
  background-image: url("../images/caret-bottom-gray.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: 0px;
  border-left: 1px solid #a1a1a1;
  display: inline-block;
  height: 25px;
  line-height: 1;
  margin: -4px -8px -4px 8px;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 1;
  width: 9px;
}
/* line 43, ../scss/marketing.scss */
.btn.btn-info {
  background-image: url("../images/btn-purple-bg.png");
  border-color: #43204c;
  color: white;
}
/* line 44, ../scss/marketing.scss */
.btn.btn-info:hover {
  background-image: url("../images/btn-purple-bg.png");
  color: white;
  text-shadow: none;
}
/* line 46, ../scss/marketing.scss */
.btn:hover {
  background-image: url("../images/btn-bg.png");
  background-position: left center;
  background-repeat: no-repeat;
  text-shadow: none;
  color: #313131;
}

/* line 49, ../scss/marketing.scss */
.btn-group {
  display: inline-block;
}
/* line 51, ../scss/marketing.scss */
.btn-group.open .caret {
  background-image: url("../images/caret-top-gray.png");
}
/* line 53, ../scss/marketing.scss */
.btn-group .dropdown-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: none;
  min-width: 100%;
}
/* line 55, ../scss/marketing.scss */
.btn-group .dropdown-menu li a {
  color: #4c4c4c;
  text-decoration: none;
  white-space: nowrap;
}
/* line 56, ../scss/marketing.scss */
.btn-group .dropdown-menu li a:hover {
  background-color: #f0f0f0;
  color: #4c4c4c;
}
/* line 59, ../scss/marketing.scss */
.btn-group .dropdown-menu li.email a {
  background-image: url("../images/icons/mail-purple.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}
/* line 62, ../scss/marketing.scss */
.btn-group .dropdown-menu li.custom a {
  background-image: url("../images/icons/box.png");
  background-position: 9px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

/*******************************************************************************
 * TABLE
 *******************************************************************************/
/* line 70, ../scss/marketing.scss */
.table {
  border: 1px solid #e2e2e2;
  border-collapse: separate;
  border-radius: 3px;
}
/* line 72, ../scss/marketing.scss */
.table thead th {
  background-color: #f0f0f0;
  color: #4c4c4c;
  font-size: 14px;
  font-weight: normal;
  padding: 9px 11px;
  text-shadow: 1px 1px white;
  white-space: nowrap;
}
/* line 73, ../scss/marketing.scss */
.table thead th:first-child {
  border-left: 0px;
  border-radius: 2px 0px 0px 0px;
}
/* line 74, ../scss/marketing.scss */
.table thead th:last-child {
  border-right: 0px;
  border-radius: 0px 2px 0px 0px;
}
/* line 79, ../scss/marketing.scss */
.table tbody tr td {
  background-color: white;
  padding: 9px 11px;
}
/* line 80, ../scss/marketing.scss */
.table tbody tr td.center {
  text-align: center;
  vertical-align: center;
}
/* line 81, ../scss/marketing.scss */
.table tbody tr td.min {
  width: 1px;
}
/* line 83, ../scss/marketing.scss */
.table tbody tr td:last-child {
  border-right: 0px;
}
/* line 86, ../scss/marketing.scss */
.table tbody tr:hover td {
  background: #f0f0f0;
}
/* line 90, ../scss/marketing.scss */
.table tbody tr:last-child td:first-child {
  border-radius: 0px 0px 0px 3px;
}
/* line 91, ../scss/marketing.scss */
.table tbody tr:last-child td:last-child {
  border-radius: 0px 0px 3px 0px;
}

/*******************************************************************************
 * EZMARK
 *******************************************************************************/
/* line 101, ../scss/marketing.scss */
.ez-hide {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 102, ../scss/marketing.scss */
.ez-checkbox {
  background-image: url("../images/checkboxes.png");
  background-position: left top;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-right: 7px;
  vertical-align: -3px;
  width: 15px;
}

/* line 105, ../scss/marketing.scss */
label.checkbox .ez-checkbox {
  margin-left: -18px;
}

/* line 108, ../scss/marketing.scss */
.ez-radio {
  background-image: url("../images/radios.png");
  background-position: left top;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-right: 7px;
  vertical-align: -3px;
  width: 15px;
}

/* line 111, ../scss/marketing.scss */
label.radio .ez-radio {
  margin-left: -18px;
}

/* line 114, ../scss/marketing.scss */
.ez-checked {
  background-position: left bottom;
}

/* line 115, ../scss/marketing.scss */
.ez-selected {
  background-position: left bottom;
}
